@media(max-width=500px){

}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main styling */

html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.7em;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  h1, h2, h3 {
    padding-bottom: 20px;
  }
  
  p{
    margin: 10px 0;
  }

/* navbar */
#navbar{
    background-color: #333;
    color: white;
    overflow: auto;
  
  }
  
  .img-fluid {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  #navbar li{
    float: left;
  }
  #navbar ul li a { 
  display: block;
  padding: 20px;
  text-align: center;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current{
    background: #444;
    color:#f7c08a;
  }


  #container {
      display: grid;
      grid-template-columns: 1.2fr 5fr;

  }

  .main {
      padding: 3rem;
      border: black 1px solid;
      background: rgb(238, 237, 231);
      text-align: left;
  }

  .side {
    padding: 3rem;
    border: black 1px solid;
    background: lightgray;
    text-align: left;
}
.skills {
    padding-top: 30%;
    padding: 3rem;
    border: black 1px solid;
    background: lightgray;
    text-align: center;
}
.skills {
        grid-column: 1 / 5;
        
}