


/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
@media(max-width=500px){


html, body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7em;
}
}

a{
  color: white;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p{
  margin: 10px 0;
  
}
/*Utilities*/
.container{
  margin: auto;
  max-width: 2000px;
  overflow: auto;
  padding: 0 20px;

}

.text-primary{
  color: #f7c08a;
}
.lead {
  font-size: 20px;
}
.btn{
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #f7c08a;
  color:#333;
}

.btn-light{
  background: #f4f4f4;
  color: #444;
}
.bg-dark {
  background: #333;
  color: #fff;
}

}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-primary {
  background: #444;
  color:#f7c08a

}

/* navbar */
#navbar{
  background-color: #333;
  color: white;
  overflow: auto;

}

.img-fluid {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100px;
}

#navbar ul {
  list-style: none;
  float: right;
}
#navbar li{
  float: left;
}
#navbar ul li a { 
display: block;
padding: 20px;
text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
  background: #444;
  color:#f7c08a;
}

/*showcase */
#showcase {
  background: url('../img/bg1.jpg') no-repeat;
  height:700px;
  background-position: top;
}

#showcase .showcase-content{
  color: white;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1{
  font-size: 60px;
  line-height: 2.0em;
}

#showcase .showcase-content p{
  padding-bottom: 20px;
  line-height: 1.7em;
}

/*home info */
#home-info {
  height: 400px;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}
#home-info .info-content p{
  padding-bottom: 30px;
}

.bg-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.samples {

  max-height: 100vh;

}

.samples img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
  width: 180px;

}

    #main-footer {

      background-color: #444;
      text-align: center;
      color: white;
      padding: 20px;
    }
  
    .bg-title {
      margin-left: 400px;
      padding-top: 5px;
    }